@using BrainCells.Presentation.Models.Todo.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Todo";
}

@section Styles{
    <link rel="stylesheet" href="~/css/todo.css" />
}

@{
    var lists = ViewData["Lists"] as IEnumerable<ListViewModel>;
}

<div class="faHeader"><i class="fa fa-check-square-o"></i> Todo</div>
<div class="faLine"></div>
<div class="faSpace"></div>
<table class="faTable">
    <tr>
        <td colspan="2" class="faTitle"><i class="fa fa-calendar-check-o"></i> Todo Lists</td>
    </tr>
</table> 
<div class="container-lists">
    @{
        foreach(var list in lists)
        {
            <div class="faList" style="background-image: linear-gradient(to bottom, @list.Color 30%, #323232 70%);">
                <div class="faList-name">@list.Name</div>
                <div  class="faList-description">@list.Description</div>
                <div style="height: 110px;">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <polyline points="0,110 140,50 190,35 250,110" style="fill: #323232; stroke: #323232; stroke-width: 3;" />
                    </svg>
                </div>
                <div class="faList-tasks"></div>
                <div class="faList-button" style="background-color: @list.Color;">Enter →</div>
                <div class="faList-image" style="background-image: url('data:image/*;base64,@list.Picture'); border: 5px solid @list.Color;"></div>
                @* <div><a href="/Todo/EditList?id=@list.Id">EditList</a></div> *@
            </div>
        }       
    }
</div>
